[2018-09-12 18:12] apeschel opened #28 "What is an orb?"
There doesn't seem to be any documentation on what an orb actually is. Looking at this repo, I still don't really have a clue what it is meant to do. Can someone please add a quick description of what an orb is and what it is meant for?

[2018-09-19 19:21] bradylill commented on #28
Hi @apeschel,

Orbs are packages of CircleCI configuration that can be shared across projects. Orbs allow you to make a single bundle of jobs, commands, and executors that can reference each other and can be imported into a CircleCI build configuration and invoked in their own namespace. Orbs are registered with CircleCI, with revisions expressed using the semver pattern.

You can find additional

[2018-09-19 19:43] #28 closed

[2018-09-19 21:50] apeschel commented on #28
@bradylill much appreciated, thank you!

[2018-10-05 18:12] kennyjwilli opened #43 "Add parameter to circleci-cli/install that sets the CircleCI token in the user config"
Would you guys accept a PR for [`circleci-cli/install`](https://github.com/CircleCI-Public/circleci-orbs/blob/3954f6cde0f96da123f7a4f004bc8d914bcedc84/src/circleci-cli/orb.yml#L3) that can optionally take a parameter named `token`. That parameter would be set in `~/.circleci/cli.yml`. It would basically do what you have written [here](https://github.com/CircleCI-Public/circleci-orbs/blob/3954f6cde

[2018-10-09 14:48] eric-hu commented on #43
Hi Kenny!

We wouldn't want the `circleci-cli` orb to take a parameter for the token value itself. Parameter values must be defined in user config, which shouldn't store any secrets. If you'd like to submit a PR that will read the value from an environment variable, I'd be happy to review that though.

[2018-10-13 08:07] jungziege opened #51 "Proposal for a temporary private orbs solution"
Hey @ndintenfass et al!

I've been talking more internally, and I think having world readable orbs is going to be a dealbreaker for us. But while playing around with helm I came up with a proposal I'd like to run by you all to improve inline orbs, which would solve our issues.

## Proposal:
Allow inline orbs to be defined in an `orbs/` folder inside `.circleci/`. The orbs would be defined exactly

[2018-10-13 15:02] ndintenfass commented on #51
This was actually exactly our original design. We rant into problems with how it would impact github rate limiting to pull down arbitrarily large number of files at build time. That said, I have set aside the “local” namespace, hoping to use it for something almost exactly like what you’re describing. This is great feedback, so keep it coming.

[2018-10-24 18:22] BrettDuclos opened #52 "Published circleci/gradle Orb appears to be incorrect"
I wasn't certain if this should be added to this project or the CLI project, this seemed appropriate.

When running the circleci cli tool to look at the official orbs that have been published, I noticed that the source returned from the circleci/gradle orb is incorrect.

I ran ```circleci orb source circleci/gradle@1.0.0``` and the source returned appears to be the config.yml for the cli project a

[2018-10-30 01:03] ndintenfass commented on #52
This is fixed - circleci/gradle@1.0.1 is the right version now.

[2018-10-30 01:03] #52 closed

[2018-11-07 20:10] iynere commented on #43
why does the circleci-cli orb need a token parameter? afaik, installing the cli does not require a token

[2018-11-19 14:50] joshunger opened #65 "Expand environment variables in S3 run step name"
Would it be possible to expand the environment variables in the S3 run step name?

**Actual behavior:**
![image](https://user-images.githubusercontent.com/2301847/48714248-7fd19780-ebcf-11e8-88e7-36286b91f78a.png)

**Hoping for:**
![image](https://user-images.githubusercontent.com/2301847/48714321-b4ddea00-ebcf-11e8-8975-0f28d45ef2e6.png)

[2018-11-24 10:08] realyze opened #66 "Heroku orb `deploy-via-git` doesn't work when pushing master branches"
This line
[code]
(https://github.com/CircleCI-Public/circleci-orbs/blob/master/src/heroku/orb.yml#L65) should rather be:
[code]
I believe.

[2018-11-27 18:49] iynere commented on #66
@realyze thank you !

do you have a link to a circleci job where you saw this error that you could share ? just want to make sure i understand what's going on before i make the change.

[2018-11-27 18:50] iynere commented on #65
@joshunger does the correct value appear in the step output itself ?

if the issue is just about the step name, then this is a higher-level issue that unfortunately can't be resolved here. however, that step name could use a rework either way, & i think we could come up with something better that doesn't depend on an env var at all...

[2018-11-27 18:51] iynere opened #68 "Elm orb"
make one

[2018-11-28 12:47] joshunger commented on #65
@iynere does this help?
![image](https://user-images.githubusercontent.com/2301847/49152764-12a9ba80-f2d1-11e8-92af-e4230fb570fa.png)

[2018-11-28 16:19] iynere commented on #65
ok, then this is an issue of:

PRs welcome to address ^^ otherwise i will get to it shortly

ty ! @joshunger

[2018-11-28 18:20] joshunger commented on #65
Can you restate what you are specifically looking for in a PR? Thanks.

[2018-11-28 19:46] iynere commented on #65
a reworked step name that does not try to include the value of an environment variable (which will never be successfully interpolated in the desired manner) @joshunger

[2018-11-29 17:28] iynere opened #69 "Provide way to automate larger releases"
We should be able to use git tags + workflow filters to sometimes automatically publish minor or major releases if folks tag a commit in a particular way. this would be awesome, so we don't just continually push patch releases forever

[2018-12-03 13:02] eddiewebb opened #71 "Maven Orb: test_result command has no default despite docs saying it does."
The test result path says it defaults to surefire path, but thats only true if calling the job. We should add it to the command.

https://github.com/CircleCI-Public/circleci-orbs/blob/master/src/maven/orb.yml#L102

[2018-12-03 13:04] eddiewebb opened #72 "Maven Orb: Job does not allow docker image to be overriden"
Maven orb forces people to use `circleci/openjdk:8-jdk-node` which means anyone using a different version of Java must call commands directly.

[2018-12-03 13:38] eddiewebb opened #73 "Maven Orb: Cache steps should allow custom key"
Many maven plugins use extraneous  artifacts for testing, processing, etc.  It would be nice to specify a qualified that gets tagged on to the end of the key to have separate caches per project.

[2018-12-03 17:22] iynere opened #75 "Need easy way to compare orb source at, e.g., v1.x vs. v1.y"
since [orbs are used in other orbs](https://github.com/CircleCI-Public/circleci-orbs/pull/74), and since sometimes things like parameter names/types, etc., change between releases, it would be very helpful to, for example, in evaluating the previously linked PR, be able to quickly, on GitHub, compare aws-cli-orb 0.0.1 to v0.1.4, to rule out breaking changes

while this is possible from within the

[2018-12-03 17:23] iynere commented on #75
thoughts ? @eddiewebb or @ndintenfass

[2018-12-06 18:57] iynere opened #79 "Convert all relevant `string` params to `env_var_name`"
we should encourage this new usage pattern as much as possible to boost adoption by partners, etc.

https://circleci.com/docs/2.0/reusing-config/#environment-variable-name

[2018-12-06 19:02] iynere commented on #79
@etorix @KyleTryon no pressure but if ya'll wanna help w/ this, you're more than welcome to !

[2018-12-06 19:46] KyleTryon commented on #79
@iynere Any thoughts on situations where we do not want to require an environment variables but leave it as an option where the default could be an environment variable but _can_ be overwritten by a string if needed?

This is currently how the webhook is set for the Slack Orb. Currently, an env var is the default but I want to leave the ability to add a custom webhook url at any point.

example: h

[2018-12-06 19:50] iynere commented on #79
@KyeTryon in that case, i'd say leave it a string 😄

[2018-12-10 01:16] iynere opened #81 "create sample heroku app to test heroku orb"

[2018-12-10 17:11] iynere commented on #66
@realyze this should be fixed now, thank you !

[2018-12-10 17:11] #66 closed

[2018-12-11 22:07] hutson commented on #69
@iynere kind of shameless plug here, but I documented on the Circle CI Discord site about an Orb I wrote which exports a job for automating the release process for Circle CI Orbs (including proper tagging of PATCH, MINOR, and MAJOR, based on the contents of the commit messages) - https://discuss.circleci.com/t/orbs-sneak-peaks-share-your-orbs-in-progress/26008/3?u=hutson

[2018-12-11 22:22] iynere commented on #69
@hutson ahh cool, i remember this discuss thread 😄

i'm working on this right this second, too—ideally, we have a way to do integration testing—ie, at the end of a regular dev release workflow, a new commit is triggered with a specific tag so that integration testing jobs can run on the new commit & pull in the version of the orb that was just published previously

[2018-12-11 22:36] hutson commented on #69
Since you asked :smile: :
- [Delivery job usage example](https://github.com/hyper-expanse/library-release-workflows/blob/878bfe07bc405dfe429c24a7f0cdc68ef2105fee/.circleci/config.yml#L15)
- [Deploy job usage example](https://github.com/hyper-expanse/library-release-workflows/blob/878bfe07bc405dfe429c24a7f0cdc68ef2105fee/.circleci/config.yml#L24)
- [Automated Python package workflow using the same

[2018-12-12 15:52] iynere commented on #69
thank you !! @hutson

[2018-12-12 20:25] iynere opened #84 "Node orb: use package manager lockfiles"
Node's Orb should rely on package manager lockfiles instead and if you choose `yarn: true` to be using `yarn.lock` as `cache-key` for the `with-cache` command.

(via https://twitter.com/tunnckoCore/status/1072932605979447296)

[2018-12-12 22:04] tunnckoCore commented on #84
The thing is how can we access the `parameters` from the `install-package-manager` command. And why not use some "regular" "template" for those dynamic parts?

[2018-12-12 22:28] hutson opened #86 "CodeCov Orb Location"
I noticed that this repository contains an Orb for CodeCov, but I don't believe it's related to the one published here - https://circleci.com/orbs/registry/orb/codecov/codecov

I couldn't actually find this repository's CodeCov Orb on the registry.

Is this repository's Orb maintained, or supported?

[2018-12-12 22:44] tunnckoCore commented on #84
Oh yeah, definitely. I think both will warn you about that anyway. So it's always better to clean it up.

[2018-12-12 22:53] tunnckoCore opened #87 "Node Orb: Shouldn't we install npm globally?"
Inside the `install-package-manager` command we have `sudo npm i npm` which I think should have the `--global`?

[2018-12-12 23:14] wyardley commented on #84
I would also suggest that there should be a restore-only option... having only the option that both restores the cache and saves it seems less useful when you break things up into multiple steps, unless I'm missing something.

We ended up just re-implementing what we had before, rather than using `with-cache`.

Orbs don't currently support orb-level params, right? That would be ideal for something

[2018-12-12 23:18] hutson commented on #84
Really? My experience is to start every day with `git pull` followed by `yarn install` to ensure my local `node_modules` is sync'd with any changes in my project's `yarn.lock` file.

I don't remember ever seeing a warning. By wiping the cache on every lockfile change, we're basically doing `git pull && rm -rf node_modules && yarn install` which I don't feel is intuitive if I were to do that myself

[2018-12-13 15:04] eddiewebb opened #88 "Gradle orb should accept executor parameter"
Customers need to be able to override docker version or other aspects of executor.

https://discuss.circleci.com/t/overriding-executor-for-job-from-orb/27136

[2018-12-14 17:11] #72 closed

[2018-12-14 17:11] iynere commented on #88
mmmm good call, i can fix this one based on your changes for maven @eddiewebb

[2018-12-14 19:15] iynere opened #91 "Pull request / issue templates"
we need 'em

[2018-12-14 23:12] iynere opened #94 "turn on 'build forked prs' / add secured contexts"
we need a way for open-source contributors' PRs to build on Circle—without exposing our secrets

[2018-12-19 00:55] nmiyake commented on #69
I ran into the issue of publishing orbs from a monorepo as well. The semantic delivery orb looked interesting, but in my brief read through it I couldn't figure out how (if at all) it could apply to monoprepos, and also didn't want to opt in to the entire semantic release framework.

For now, I wanted something for my org that was more focused on just handling publishing CircleCI orbs from a monor

[2018-12-19 15:12] iynere commented on #69
oh that's a smart approach ! @nmiyake

we are working on monorepo support in general, which should provide a first-class solution, but in the interim some combination of circleci-created or community-created orbs should be able to serve us.

for longer discussion, please post on discuss rather than here—its a much better place for conversation 😄

https://discuss.circleci.com/c/orbs

[2018-12-19 21:36] iynere commented on #94
forked PRs is turned on now—some work is likely needed to make the open-source contributor flow better

[2018-12-19 21:37] iynere opened #99 "auto-PR staging => master job"
A PR merged to staging should conclude with a CI job that opens a new PR from staging => master & copies the title & body of the original merged PR to the new PR

[2018-12-20 16:45] tsloughter opened #100 "circleci/codecov does not exist and codecov/codecov issues with alpine"
The codecov orb in this repo doesn't appear to be published at all. And the codecov/codecov orb will not work on alpine, even if bash is installed because the command still runs with shell sh and so even though it runs `bash` the use of `<( )` causes it to fail.

I can't find a repo for codecov/codecov so I can not send a patch, maybe simply adding `shell: bash` to the command would do it.

This c

[2018-12-20 20:48] alexanderkjeldaas opened #101 "docker-publish/publish does not pass environment variables."
There is no support.  There should be support.

[2019-01-03 22:37] iynere commented on #101
https://github.com/CircleCI-Public/circleci-orbs/pull/98 fixed this ! @alexanderkjeldaas

[2019-01-03 22:37] #101 closed

[2019-01-06 20:22] vsoch opened #105 "Question: Best way for a custom tag?"
Hey circle!

For the docker-publish orb, I'm wondering what the best / easiest way is to tag a docker container with some string produced at runtime. For example I'd want to build the image (with latest)

[code]
Then derive a tag by pinging the software inside:

[code]
Then tag the container:

[code]
and then push both of them

[code]
I have a recipe to do this the old way (without an orb) but I'm

[2019-01-06 20:36] vsoch commented on #105
Actually I have an idea - I can use a post build hook to see if I can tag the image and push there.

[2019-01-06 21:48] vsoch commented on #105
Yeah that totally worked! Here is what I did if anyone else needs in the future. The idea here is that we want to build on pull requests, but not on merge to master. The first block here will build the container, and preview the tag based on querying the software inside:

[code]
[Here is the run](https://circleci.com/gh/singularityhub/sif/19)

And this second block is the same, but deploy is set t

[2019-01-06 21:48] #105 closed

[2019-01-14 17:07] kewne opened #112 "Docker-publish orb does not quote login passwords"
This doesn't allow using passwords with spaces or other "strange" characters.

[2019-01-25 00:35] #112 closed

[2019-01-25 00:36] iynere commented on #100
huh, it's definitely published https://circleci.com/orbs/registry/orb/circleci/codecov @tsloughter

is this still an issue for you ?

[2019-01-30 16:06] stig opened #115 "Could we have some usage examples for "approval required notification" in slack orb?"
### Orb version

circleci/slack@1.1.0

### What happened

I can't figure out how to add the `slack/approval-notification` into my workflow if it's not the very first one. I see how I can get this workflow:

But, what I want is this workflow:

### Expected behavior

I think the `slack/approval-notification` job needs the ability to specify a list of things it requires before it triggers. Perhaps it

[2019-01-30 17:17] jkzilla commented on #115
Hi @stig - I just tried this out yesterday with the hello-build orb - Can you post your config minus any sensitive information such as slack user ID? Not sure if this helps but posting just in case:

[code]

[2019-01-31 10:37] stig commented on #115
@jkzilla thank you for your comment. I can see how that works, because neither of the two jobs don't depend on anything. I want to make the approval notification only trigger if hello-build passes, and I cannot see how to do that.

[2019-02-02 00:08] tsloughter commented on #100
Hm, maybe it is because I copied from the example without thinking. I just noticed the example has `codecov: circleci/codecov@1.0.0` but the latest version is `0.0.3`. I bet when I tried it before I had simply copied from that example :(

Sorry about the confusion, it works.

[2019-02-02 00:08] #100 closed

[2019-02-02 00:13] iynere commented on #100
we'll get this orb to v1.0.0 soon @tsloughter

we put 1.0.0 as a standard in all our examples b/c it's a simple, easy to understand number, but i apologize for the confusion here. thank you !

[2019-03-03 22:39] Tybot204 opened #121 "Add force push to `deploy_via_git` in Heroku orb"
### Orb version

heroku@0.0.5

### What happened

Pushing a build up to an app that is currently behind (or is missing any commits) to the existing build fails as git requires a force push to override the commits in Heroku's repository.

### Expected behavior

Any pushed branch should be able to be deployed to Heroku regardless of if it is up to date with the existing pushed commits.

This brings

[2019-03-03 22:40] Tybot204 commented on #121
As an example, the git push command would turn into something like this:
[code]

[2019-03-06 11:14] tommybo-entur commented on #115
A little late response, but it's just like any other job in a workflow:
[code]

[2019-03-06 11:30] stig commented on #115
@tommybo-entur thank you. I'll give that a try. It is not at all clear from my reading of the documentation that it will work, because `requires:` is not listed as a key you can use, and there are no examples in the documentation. (At least there were none when I created this ticket 😄 )

[2019-03-06 13:26] felicianotech commented on #115
Hi @stig,

@tommybo-entur example should work. `requires` is a standard CircleCI workflows key. It's not specific to orbs but to any CircleCI job. https://circleci.com/docs/2.0/configuration-reference/#workflows

Could you let us know if it works for you?

[2019-03-07 03:29] felicianotech commented on #121
Thanks. Looking into this.

[2019-03-08 02:13] felicianotech opened #123 "CircleCI CLI orb assumes sudo"
## Orb version

circleci-cli@0.1.3

## What happened

Usage of `sudo` was assumed. It wasn't installed so the install command failed.

## Expected behavior

1. Maybe we don't even/always need `sudo` to run the CLI. This needs to be investigated.
2. when running as root, don't use `sudo`.

[2019-03-08 02:22] felicianotech commented on #123
Also seems to need `curl` and for some reason `python`??

[2019-03-08 11:48] pvalsecc opened #124 "`gradle/with_cache` not caching when having multiple `build.gradle` file"
### Orb version

circleci/gradle@1.0.9

### What happened

While trying to understand why `gradle/with_cache` was never using any cache, I found that the problem was in the checksum generation. Those two builds (the second one is a rerun of the first one) illustrates the problem (look at the output of the to find commands and compare the two runs):
* https://circleci.com/gh/mapfish/mapfish-print/3

[2019-03-08 15:18] felicianotech commented on #123
Once the referenced PR above gets merged, I can work on this.

[2019-03-11 16:05] #121 closed

[2019-03-11 16:08] #124 closed

[2019-03-13 01:38] felicianotech commented on #87
Hey @tunnckoCore,

Thanks for bringing this up. You're correct. I've opened a PR to correct this.

[2019-03-13 01:43] felicianotech commented on #43
See https://github.com/CircleCI-Public/circleci-orbs/pull/48

[2019-03-13 01:43] #43 closed

[2019-03-13 15:39] #123 closed

[2019-03-14 18:22] #87 closed

[2019-03-21 14:10] BjoernPetersen opened #132 "Gradle Orb: with_cache should allow custom key"
It's common, especially for Gradle Kotlin DSL users, to store dependency versions outside the `build.gradle.kts` file. There should be a way to specify files containing those versions for the `with_cache` command.

[2019-03-24 19:29] stig commented on #115
@felicianotech it does work! 🎉

Could this be documented? It's not clear to me that it would work, since `slack/status` and `slack/notify` jobs/commands do _not_ accept standard arguments (like `name:`, `command:`, `when:` etc.)

[2019-04-05 20:00] merwok opened #139 "Heroku deploy command does not support maintenance-mode param"
### Orb version
circleci/heroku 0.0.6

### What happened

I’d like to replace custom steps with orb usage.

The deploy-via-git **job** supports a `maintenance-mode` param, which runs `heroku maintenance:on` before pushing the code.

I’m not using this job because I need to run a command provided by the slack orb, and I think params in the workflow section make things a little messy, so I kept my o

[2019-04-15 15:22] jcampbell05 opened #147 "/bin/bash: line 2: --delete: command not found"
### Orb version

1.0.6
### What happened

https://circleci.com/gh/AIWIP/printt-cloud-print/596

### Expected behavior

It should do whatever it was trying to do without crashing

[2019-04-24 22:49] felicianotech commented on #147
@iynere I think this is an issue with quotes, thoughts?

[2019-04-25 15:38] iynere commented on #147
@jcampbell05 sorry, what orb were you using ?

[2019-04-25 15:39] iynere commented on #147
@jcampbell05 have you tried using the latest version of the orb ? (1.0.7)

[2019-04-25 15:39] iynere commented on #147
no i think we're missing a `\` @felicianotech

[2019-04-25 15:49] iynere commented on #147
@jcampbell05 please try now with version `1.0.8` of the orb

[2019-04-25 15:49] #147 closed

[2019-05-01 21:03] eddiewebb opened #152 "test card"
### Orb version

### What happened

### Expected behavior

[2019-05-01 21:13] #152 closed

[2019-05-04 18:00] evant commented on #132
Have another reason for this: I'm running the same build under 2 executors. Since the cache keys are the same it's incorrectly trying to restore the cache from one to the other which fails.

[2019-05-05 20:51] avivbueno opened #156 "AWS s3 ORB Overwrite not working"
### Orb version
2.1
aws-s3 1.0.8

### What happened
When overwrite set to true throws an error:
aws s3 sync \
  bucket s3://aviv-ci-test \
  --acl public-read
--cache-control "max-age=86400"
 \
  --delete
upload: bucket/build_asset1.txt to s3://aviv-ci-test/build_asset1.txt
/bin/bash: line 3: --cache-control: command not found
Exited with code 127### Expected behavior

Delete the previous files on

[2019-05-06 15:16] iynere commented on #132
@BjoernPetersen @evant feel free to open a PR—should be fairly easy to add this—otherwise we will try to get to it soon, thank you !

[2019-05-06 15:19] iynere commented on #156
@avivbueno can you share a link to a job where you're seeing this behavior ? thank you !

[2019-05-06 15:29] avivbueno commented on #156
https://circleci.com/gh/avivbueno/citest/10

Screenshot: https://imgur.com/a/npqlN6W

config file: https://github.com/avivbueno/citest/blob/master/.circleci/config.yml

[2019-05-06 15:31] iynere commented on #156
thank you !! @avivbueno

looks like this is a simple bash syntax issue—should be easy to fix, 1 sec

[2019-05-06 15:36] iynere commented on #156
@avivbueno i believe this is happening because you are passing a multi-line string argument to the `arguments` parameter, without including `\` to allow bash to interpolate the multiple lines

can you try it like this ?

[code]

may just be an issue of documenting precisely how users should pass single- or multi-line values to that parameter. thanks !

[2019-05-06 15:39] avivbueno commented on #156
Thank you, works like a charm!

[2019-05-06 15:44] iynere commented on #156
awesome ! well, let's not be too hasty 😄 i'll open a PR to update the documentation for that parameter @avivbueno

[2019-05-06 15:58] #156 closed

[2019-05-15 01:02] felicianotech commented on #139
I could see this go either way with maintenance mode being a seperate command as well.

Considering the job and command here have the *exact* same name, I am leaning on the side it the command supporting the same maintenance mode parameter.

[2019-05-22 17:44] iynere commented on #139
feel free to submit a PR—seems like it will be an easy fix @merwok

[2019-05-22 17:49] iynere commented on #139
ahh, i see @felicianotech already did :)

[2019-05-22 17:49] iynere commented on #139
github is having a webhook problem, so i will attempt to publish the updated version manually @merwok

[2019-05-22 17:54] iynere commented on #139
please give this a shot with `circleci/heroku@0.0.7` @merwok if that doesn't work, feel free to file a new issue describing any bugs you encounter—thanks !!

[2019-05-22 17:54] #139 closed

[2019-05-24 19:33] merwok commented on #139
Thanks, I will try version 0.0.8.

I have to say that the registry page is rather confusing though (command vs job vs step?) and examples unclear.

[2019-05-24 19:34] iynere commented on #139
this may help you @merwok

https://circleci.com/docs/2.0/reusing-config
https://circleci.com/docs/2.0/configuration-reference/

[2019-05-24 19:35] merwok commented on #139
I know that quite well, it’s really the 2.1 orb usage that’s not 100% clear :)

[2019-05-24 20:19] merwok commented on #139
I replaced my custom steps by heroku commands!
It’s not just one line because you still need `executor: heroku/default` and steps `checkout` and `heroku/install`, but it’s pretty great.  No more shell commands and YAML reuse, only orbs commands!

(could not use the command directly in the job section of a workflow because I also need slack/status which needs to be a step, and I was not ready to mo

[2019-05-28 21:52] DWSR opened #163 "Don't use bashisms"
### Orb version

At least `aws-s3@1.0.0`, using `python:3.7.3-alpine3.9`. Probably others as well.

### What happened
[code]

[code]

### Expected behavior

The scripts should work properly.

This is being caused by using bashism (both `-o pipefail and [[ .. ]]`), but specifying `/bin/sh` in the shebang. Any `/bin/sh` compatible shell (such as Busybox/ash in Alpine) fails to parse the script corre

[2019-05-28 21:53] DWSR opened #164 "Don't Check for pip or sudo if aws is already present"
### Orb version

`aws-s3@1.0.0`

### What happened

If the `awscli` is already present (i.e. `aws` is in PATH), the `Install AWS CLI` step will still check for the presence of `pip` and `sudo`

### Expected behavior

The step should see that the command is present and exit successfully.

[2019-05-28 21:54] DWSR opened #165 "Don't Check for sudo if already root"
### Orb version

`aws-s3@1.0.0`

### What happened

The `Install AWS CLI` script checks for the presence of `sudo` in PATH, even if already running as root.

### Expected behavior

The script should skip checking for sudo if already running as `root`.

[2019-05-28 22:16] iynere commented on #163
@DWSR we tend to assume bash in most of our orbs—we try to be as agnostic as possible, but we have to make _some_ baseline assumptions, & bash is a better one to make than some others—it's as easy as `apk add bash` to fix

but if you're saying we hardcode `bin/sh` in the script, but then use bashisms in the code, then that's something we should fix

& either way, we should document prerequisites b

[2019-05-28 22:17] iynere commented on #164
@DWSR can you file this issue against the aws-cli orb ? i think the code you're referring to lives there, & not in the s3 orb:

https://github.com/circleci-public/aws-cli-orb

[2019-05-28 22:19] iynere commented on #165
@DWSR same for this one—can you file against https://github.com/circleci-public/aws-cli-orb ? thanks !

[2019-05-28 22:24] DWSR commented on #163
A good baseline assumption is an `sh`-compatible shell, since that's required in every Linux distro under the sun and even Bash has `sh`-compatible mode when invoked as `/bin/sh`. The script referenced here is not particularly complex that Bash is providing any benefit, and I'm willing to bet real dollars that most of the other ones in the official orbs aren't either, especially if they're doing s

[2019-05-28 22:28] DWSR commented on #165
Filed https://github.com/CircleCI-Public/aws-cli-orb/issues/12

[2019-05-28 22:28] #165 closed

[2019-05-28 22:29] DWSR commented on #164
Filed https://github.com/CircleCI-Public/aws-cli-orb/issues/13

[2019-05-28 22:29] #164 closed

[2019-05-28 22:37] iynere commented on #163
@DWSR a lot of our other orbs actually do use a lot of really powerful bashisms that wouldn't be easy or possible with `sh` without other tools that folks might have to install.... but this certainly isn't one of those examples

that said, it's more complexity for us to manage different shell expectations across our orbs fleet, than it is for us to just assume bash universally, & document that ass

[2019-05-28 22:39] iynere commented on #163
going to close this, though, as `#!/bin/sh -eo pipefail` is not actually part of our orb source at all—that's just the default output of the circleci step (we output the shell used to run the command—we also default to `bash` & only fall back to `sh` if `bash` isn't available)

[2019-05-28 22:39] #163 closed

[2019-05-28 22:40] iynere commented on #163
so to summarize, unless you see bashisms somewhere here:

https://github.com/CircleCI-Public/circleci-orbs/blob/master/src/aws-s3/orb.yml

then this is not an issue with the orb—& there actually isn't a prerequisites issue, either, at least not for the `s3` orb

[2019-05-28 22:59] unixorn commented on #163
If you're going to use bashisms, then use `/bin/bash` in your shebang instead of assuming `/bin/sh` is really `bash` - it isn't in a lot of places.

[2019-05-28 22:59] iynere commented on #163
there aren't bashisms in this orb, unless someone can point one out here: https://github.com/CircleCI-Public/circleci-orbs/blob/master/src/aws-s3/orb.yml @unixorn

[2019-05-28 23:01] iynere commented on #163
orbs don't set or control the shebang—that's simply the default behavior of our config processor:

https://circleci.com/docs/2.0/configuration-reference/#default-shell-options

if you would like to continue having this addressed as a bug, i suggest you file a support ticket so it can be escalated to the engineers who work on that part of the system:

https://support.circleci.com/hc/en-us/requests/

[2019-05-29 01:50] DWSR commented on #163
The bashisms are in a dependant orb, https://github.com/CircleCI-Public/aws-cli-orb/blob/master/src/%40orb.yml

[2019-05-29 14:50] iynere commented on #163
ahhhhh good point @DWSR hmmmmmm for now i'll document it in the s3 orb's description, but going forward i'm starting a conversation internally around how we should handle dependencies on `bash` across our orb fleet. thank you !

[2019-06-05 21:32] jlenos opened #167 "AWS CodeDeploy Orb: Stopping a deployment in CodeDeploy leads to a successful result in CircleCI"
### Orb version

0.0.9

### What happened

Manually stopped a deployment using CodeDeploy in AWS and it led to a successful deployment result in CircleCI for the deploy-bundle command.

### Expected behavior

Manually stopping a deployment using CodeDeploy should lead to a failed deployment result in CircleCI for the deploy-bundle command.

[2019-06-05 21:38] iynere commented on #167
@jlenos can you drop a link to the job where this happened, so we can investigate ? thank you !

[2019-06-05 22:14] jlenos commented on #167
https://circleci.com/bb/inflightcorp/aura_circleci/559

I'm seeing this in the result:

        "status": "Stopped",
        "deploymentOverview": {
            "Skipped": 0,
            "Succeeded": 0,
            "Failed": 1,
            "Ready": 0,
            "InProgress": 0,
            "Pending": 0
        },

[2019-06-11 14:18] jams2 opened #168 "circleci/aws-s3@1.0.10 fails with overwrite: true"
### Orb version

1.0.10

### What happened

Experiencing here a similar issue to #156 , but the syntax of our config matches the documentation. Running `aws-s3/sync` with `overwrite: true` causes the following error:

[code]

The failed job is here: https://circleci.com/gh/thebloggerprogramme/frontend/23

Our top-level config looks like this:

[code]

Here's the <span id="job-config">config</span>

[2019-06-11 15:23] iynere commented on #168
looks like there's some kind of yaml parsing issue where a newline is being inserted where it should be.... i wonder if we can just make `arguments` the last portion of the command & that would take care of it...

[2019-06-11 15:56] jams2 commented on #168
You're right [(source)](https://github.com/CircleCI-Public/circleci-orbs/blob/98bc65476d06c3d00ed561813291019fa03426b1/src/aws-s3/orb.yml#L107)
[code]

A newline is being inserted after `<<parameters.arguments>>`, and it looks like the cause of that, taking my config above:

[code]

is the expansion including the unescaped newline after `--cache-control`. Moving `arguments` to the end is probably

[2019-06-11 16:47] iynere commented on #168
it's such a small change, i can take care of it right now @jams2

i'll merge this change to staging, which will publish a dev version w/ the change, & then, since we're not currently doing any extensive integration or usage testing for orbs in this repo (hard to do in the monorepo—our single-repo orbs are tested much more extensively), can you give your job a shot again with the new dev version ?

[2019-06-11 17:14] iynere commented on #168
ok, please give this a shot with `circleci/aws-s3@dev:staging-71c6a65` @jams2

if that fixes your issue, i'll merge into master, which will trigger the release of a new semantic / production orb version

[2019-06-12 08:30] jams2 commented on #168
That fixes it.

Using config:

[code]

command is expanded as:

[code]

Job is [here](https://circleci.com/gh/jams2/orb-testing/4)

Thanks!

[2019-06-12 14:23] iynere commented on #168
awesome ! will merge this to master 🙂 thank you !! @jams2

[2019-06-12 14:28] iynere commented on #168
fixed in `circleci/aws-s3@1.0.11` 🎉

[2019-06-12 14:28] #168 closed

[2019-07-16 10:11] gionn opened #174 "maven orb: should support mvnw"
### Orb version

0.0.8

### What happened

`mvn` command is hard-coded in `with_cache` command.

### Expected behavior

I should be able to override the default maven command (I am using maven wrapper - `./mvnw` instead of `mvn`)

[2019-07-16 15:29] iynere commented on #174
sounds like an easy fix—we can create a parameter, like, `maven-command`—wanna take a shot at a PR ? @gionn

thank you !

[2019-07-17 14:26] #174 closed

[2019-07-24 14:30] pieterjandesmedt opened #179 "Step 'Configure AWS Access Key ID' fails in aws-s3@1.0.11"
### Orb version

circleci/aws-s3@1.0.11

### What happened

Orb step `Configure AWS Access Key ID` fails, even though step `Install AWS CLI` succeeds.

end of output of `Install AWS CLI`:
[code]

output of `Configure AWS Access Key ID`
[code]

Config:
[code]

### Expected behavior

It should find the `aws` command if the step just before says it's installed correctly.

[2019-07-24 18:49] moormaan opened #180 "Support `build.gradle.kts` as the gradle file name without additional configuration"
### Orb version 1.0.11

### Expected behavior

If [Gradle Kotlin DSL](https://docs.gradle.org/current/userguide/kotlin_dsl.html) is used, `with_cache` will not be able to generate the key, since gradle file will be named `build.gradle.kts`. This file name should be used as an alternative to `build.gradle` without additional configuration because Kotlin DSL is an official part of Gradle.

[2019-07-24 21:50] iynere commented on #179
hi @pieterjandesmedt, can you share a link to a CircleCI job where you saw this behavior?

thank you !

[2019-07-25 00:09] iynere commented on #180
@moormaan great point. would you like to submit a small PR to fix?

my suggestion: instead of hardcodinig `build.gradle`, create a `cache-key-filename` parameter with a default value of `build.gradle`, & replace `find . -name 'build.gradle' | sort | xargs cat | shasum | awk '{print $1}' > /tmp/gradle_cache_seed`

with `find . -name '<<parameters.cache-key-filename>>' | sort | xargs cat | shasum |

[2019-07-25 12:20] pieterjandesmedt commented on #179
Sure: https://circleci.com/gh/radix-ai/talent-api-admin/13

[2019-07-25 19:32] iynere commented on #179
hmmm, we probably shouldn't be installing the aws-cli to `root/bin`...... can you file this issue against http://github.com/circleci-public/aws-cli-orb ? @pieterjandesmedt the issue is w/ that orb, not this one. thank you !

[2019-07-25 19:32] #179 closed

[2019-08-01 05:58] zhuangya opened #182 "upgrade aws-s3 base image to python 3?"
### Orb version

aws-s3@volatile

### What happened

nothing, but python 2 is about to retired.

### Expected behavior

upgrade aws-s3 base image to python 3?
https://github.com/CircleCI-Public/circleci-orbs/blob/5f4aba3265497162aca0461bcce7053d0a9f7e1a/src/aws-s3/orb.yml#L17

[2019-08-25 21:46] aidanlane opened #184 "maven orb: settings_file isn't optional, as stated in docs"
### Orb version

0.0.9

### What happened

`settings_file` required, even though it should be optional.

### Expected behavior

Should not be required.

The following table does not make sense - it says that `settings_file` is "(optional)" in the Description column but then marks it with a tick in the Required column.

From https://circleci.com/orbs/registry/orb/circleci/maven

![image](https://us

[2019-09-06 15:06] pcwiek opened #185 "aws-code-deploy fails to check the existence of deployment group with extra arguments passed"
### Orb version
0.0.9
### What happened

Any arguments passed to `aws-code-deploy/create-deployment-group` which are intended for group creation are also passed to AWS CLI when calling `aws deploy get-deployment-group`, which makes the check for group existence fail each and every time because those options are not recognized by `get-deployment-group`. Then the step tries to create the group again

[2019-09-13 19:27] felicianotech opened #186 "Break circleci/aws-s3 orb into its own repository"
This repository is a monorepo of orbs and we no longer want that. The `circleci/aws-s3` orb should be broken out into its own repository.

A great way to do this is to use the [Orb Starter Kit](https://github.com/CircleCI-Public/orb-starter-kit) (OSK). The OSK will help you create the scaffolding needed for an orb. Then, the orb source from within this repo can be copied over into your scaffold, e

[2019-09-13 19:32] felicianotech opened #187 "Break circleci/codecov-clojure orb into its own repository"
This repository is a monorepo of orbs and we no longer want that. The `circleci/codecov-clojure` orb should be broken out into its own repository.

A great way to do this is to use the [Orb Starter Kit](https://github.com/CircleCI-Public/orb-starter-kit) (OSK). The OSK will help you create the scaffolding needed for an orb. Then, the orb source from within this repo can be copied over into your sc

[2019-09-13 19:34] felicianotech opened #188 "Break circleci/codecov orb into its own repository"
This repository is a monorepo of orbs and we no longer want that. The `circleci/codecov` orb should be broken out into its own repository.

A great way to do this is to use the [Orb Starter Kit](https://github.com/CircleCI-Public/orb-starter-kit) (OSK). The OSK will help you create the scaffolding needed for an orb. Then, the orb source from within this repo can be copied over into your scaffold,

[2019-09-13 19:35] felicianotech opened #189 "Break circleci/gradle orb into its own repository"
This repository is a monorepo of orbs and we no longer want that. The `circleci/gradle` orb should be broken out into its own repository.

A great way to do this is to use the [Orb Starter Kit](https://github.com/CircleCI-Public/orb-starter-kit) (OSK). The OSK will help you create the scaffolding needed for an orb. Then, the orb source from within this repo can be copied over into your scaffold, e

[2019-09-13 19:36] felicianotech opened #190 "Break circleci/heroku orb into its own repository"
This repository is a monorepo of orbs and we no longer want that. The `circleci/heroku` orb should be broken out into its own repository.

A great way to do this is to use the [Orb Starter Kit](https://github.com/CircleCI-Public/orb-starter-kit) (OSK). The OSK will help you create the scaffolding needed for an orb. Then, the orb source from within this repo can be copied over into your scaffold, e

[2019-09-13 19:37] felicianotech opened #191 "Break circleci/lein-nvd orb into its own repository"
This repository is a monorepo of orbs and we no longer want that. The `circleci/lein-nvd` orb should be broken out into its own repository.

A great way to do this is to use the [Orb Starter Kit](https://github.com/CircleCI-Public/orb-starter-kit) (OSK). The OSK will help you create the scaffolding needed for an orb. Then, the orb source from within this repo can be copied over into your scaffold,

[2019-09-13 19:37] felicianotech opened #192 "Break circleci/maven orb into its own repository"
This repository is a monorepo of orbs and we no longer want that. The `circleci/maven` orb should be broken out into its own repository.

A great way to do this is to use the [Orb Starter Kit](https://github.com/CircleCI-Public/orb-starter-kit) (OSK). The OSK will help you create the scaffolding needed for an orb. Then, the orb source from within this repo can be copied over into your scaffold, ev

[2019-09-13 19:38] felicianotech opened #193 "Break circleci/rollbar orb into its own repository"
This repository is a monorepo of orbs and we no longer want that. The `circleci/rollbar` orb should be broken out into its own repository.

A great way to do this is to use the [Orb Starter Kit](https://github.com/CircleCI-Public/orb-starter-kit) (OSK). The OSK will help you create the scaffolding needed for an orb. Then, the orb source from within this repo can be copied over into your scaffold,

[2019-09-13 19:42] felicianotech opened #194 "Break circleci/aws-code-deploy orb into its own repository"
This repository is a monorepo of orbs and we no longer want that. The `circleci/aws-code-deploy` orb should be broken out into its own repository.

A great way to do this is to use the [Orb Starter Kit](https://github.com/CircleCI-Public/orb-starter-kit) (OSK). The OSK will help you create the scaffolding needed for an orb. Then, the orb source from within this repo can be copied over into your sc

[2019-09-13 19:45] felicianotech opened #195 "circleci/aws-code-deploy isn't on readme"
The `circleci/aws-code-deploy` orb is container within this repository but isn't listed in the readme. It should be.

[2019-09-13 19:51] felicianotech opened #196 "AWS Code Deploy orb missing descriptions for commands"
Each command should have a description.

[2019-09-13 19:58] felicianotech opened #197 "codecov-clojure orb missing description for job"

[2019-09-13 20:06] felicianotech opened #198 "circleci/codecov-clojure and circleci/codecov aren't in the registry"
I'm not sure why. If they were removed because they are deprecated, then they should be removed from this repo. If they never got published but should be, then we should publish them.

[2019-09-23 15:12] gagandeepp commented on #188
I will take care of this

[2019-09-23 20:58] eddiewebb commented on #188
@felicianotech - don't we need to create a repo in our org for this? How would community drive this?

[2019-09-24 02:05] felicianotech commented on #188
@eddiewebb Kyle wants people to start with the Orb Starter Kit. We can then clone the repo take ownership of it after. The bigger issue is, I'm not sure if we're keeping these orbs. I've asked on Slack and am waiting for an answer. I've taken the labels off this issue in the meantime.

@gagandeepp I've taken the labels off of this issue as we need to figure out what we want to do with this interna

[2019-09-25 18:04] rafael-vitor commented on #195
I'll take care of this

[2019-09-26 13:06] caseydbrown commented on #186
Hey I would like to try and complete this. Which namespace should the orb sit in? I am assuming CircleCI-Public but not entirely sure.

[2019-09-27 10:27] gagandeepp commented on #186
can you assign this to me?

[2019-09-28 18:18] caseydbrown commented on #196
I would love to give this a shot.

[2019-09-30 03:43] aidanlane commented on #184
Fixed in latest (`0.0.10`), thanks!

https://circleci.com/orbs/registry/orb/circleci/maven

https://github.com/CircleCI-Public/circleci-orbs/commit/70b8ff9118468336b83b26207ecf93833858d0c0#diff-a22529434a60ecfbe00eb9139049d505

[2019-09-30 03:43] #184 closed

[2019-10-01 03:12] gagandeepp commented on #193
assign this to me

[2019-10-01 04:14] sccalabr commented on #187
https://github.com/sccalabr/codecov-clojure

[2019-10-01 04:23] sccalabr commented on #192
https://github.com/sccalabr/maven

[2019-10-01 04:39] sccalabr commented on #191
How do I create a pull request for https://github.com/sccalabr/lein-nvd/tree/master/src

[2019-10-01 04:46] sccalabr commented on #190
How do I make a pull request for  https://github.com/sccalabr/heroku

[2019-10-01 18:42] gagandeepp commented on #91
I am on it

[2019-10-01 18:51] gagandeepp commented on #187
@sccalabr  first fork the original repo then push your changes to the forked repo.
There you have option to create a PR

[2019-10-02 00:00] #79 closed

[2019-10-02 02:14] sccalabr commented on #191
Let me know if this is what you had in mind.

[2019-10-02 03:22] kamontat commented on #189
I will do this.

[2019-10-02 03:58] kamontat commented on #189
I just create gradle orb but I not sure that I understand correctly. https://github.com/kamontat/gradle-orb

[2019-10-02 08:05] sameshl commented on #196
@felicianotech I would love to solve this. Could you elaborate a bit on what exactly needs to be done here?

Thanks!

[2019-10-02 16:20] KiranAkadas commented on #197
May I?

[2019-10-03 06:22] gagandeepp commented on #91
Please review https://github.com/CircleCI-Public/circleci-orbs/pull/206

[2019-10-03 06:35] gagandeepp commented on #182
I am on it

[2019-10-03 19:01] cjwilburn commented on #193
If this hasn't been assigned, I'd love to give this one a shot. Thanks!

[2019-10-06 10:46] lex111 commented on #193
Hi @felicianotech, I break `circleci/rollbar` orb into its own [repository](https://github.com/lex111/rollbar-orb), please take a look. I'm new to Orb, so I could be wrong, but it was interesting to figure it out!
What else do I need to do?

[2019-10-08 12:58] mrclsu commented on #190
I tried to break it out to it's own repo. https://github.com/mrclsu/heroku-orb/tree/Alpha

[2019-10-11 19:08] eddiewebb commented on #195
@alinebastros, @lenzfliker, @sameertulshyan - please do not open duplicate PRs.

@kevinchee - #194 and #195 are exclusive options, either we add the badge (short term) or move it to its own repo (strategic)

I created https://github.com/CircleCI-Public/aws-code-deploy-orb to support #194

[2019-10-11 19:10] eddiewebb commented on #194
https://github.com/CircleCI-Public/aws-code-deploy-orb is open empty repo for anyone that wants to PR the migration.

This is non-trivial as it involves adding the CircleCI config, but we can help get the build running.

[2019-10-11 23:07] kevinchee commented on #194
@eddiewebb i've just did a PR for [CircleCI-Public/aws-code-deploy-orb](https://github.com/CircleCI-Public/aws-code-deploy-orb ).

[2019-10-13 03:58] michizhou commented on #186
@felicianotech I have included a link to my version of the new repository with the orb source:
https://github.com/michizhou/aws-s3-orb/tree/master. I have also created a PR with the source for the aws-s3 inside this repo modified accordingly. Please let me know if further changes are needed.

[2019-10-13 04:05] michizhou commented on #192
@felicianotech I have included a link to my version of the new repository with the orb source:
https://github.com/michizhou/maven-orb. I have also created a PR with the source for the maven orb inside this repo modified accordingly. Please let me know if further changes are needed.

[2019-10-13 04:30] michizhou commented on #191
@felicianotech I have included a link to my version of the new repository with the orb source:
https://github.com/michizhou/lein-nvd-orb. I have also created a PR with the source for the lein-nvd  orb inside this repo modified accordingly. Please let me know if further changes are needed.

[2019-10-13 04:41] michizhou commented on #187
@felicianotech I have included a link to my version of the new repository with the orb source:
https://github.com/michizhou/codecov-clojure-orb. I also created a PR with the source for the codecov-clojure orb of this repo modified accordingly. Let me know if further changes are needed.

[2019-10-13 14:10] lex111 commented on #193
@felicianotech please at least tell me if I need to open a PR with source code breaked orb? I ask because here someone did just that, although it seems to me that is wrong.

[2019-10-14 11:30] puneeth2001 commented on #88
Is this issue still open?

[2019-10-15 16:18] KyleTryon commented on #197
closed by https://github.com/CircleCI-Public/circleci-orbs/commit/a84f6e2d89f46437dce6db0c3e163ba1d443a303

[2019-10-15 16:18] #197 closed

[2019-10-16 18:00] #195 closed

[2019-10-17 14:24] KyleTryon commented on #186
Thank you @michizhou! We may fork your project soon.

[2019-10-17 14:24] #186 closed

[2019-10-17 14:33] KyleTryon commented on #191
![](https://media1.giphy.com/media/xT5LMQ8rHYTDGFG07e/giphy.gif)

We will review this as soon as possible thank you!

@michizhou

[2019-10-17 14:33] #191 closed

[2019-10-17 14:35] KyleTryon commented on #187
You've done it again!
![](https://media1.giphy.com/media/3ov9jWyZ6N1vZqHVWE/giphy.gif)

[2019-10-17 14:35] #187 closed

[2019-11-04 20:22] KyleTryon commented on #71
#259 merged.

[2019-11-04 20:22] #71 closed

[2019-11-07 14:13] eddiewebb commented on #86
Codeciov orb source is https://github.com/codecov/codecov-circleci-orb I've opened PR to remove the confusing source.

[2019-11-16 10:06] 3c2b2ff5 opened #270 "Filesystem doesn't support posix ACLs"
### Orb version
circleci/python@0.2.1

### What happened
Samba4 AD domain provision fails because the filesystem doesn't support posix ACLs.

### Expected behavior
Samba4 AD domain provision exit successfully. A domain is successfully provisioned, so that test users and groups can be created.

[2019-11-18 13:15] iynere commented on #270
@3c2b2ff5 can you file this issue against the repo for the Python orb? thank you!!

https://github.com/CircleCI-Public/python-orb

[2019-11-18 13:15] #270 closed

[2019-12-03 04:42] lokst commented on #86
@hutson Closing this issue as the deprecated code has been removed from the repository. In the near future we will officially launch the ability for orb authors to declare a link to their orb's homepage which will be shown in the orb registry. This will help clarify where an orb's repository is!

[2019-12-03 04:42] #86 closed

[2019-12-09 06:44] dimaqq opened #272 "`--dry-run` spelling"
It's spelt `--dryrun` here:

https://github.com/CircleCI-Public/circleci-orbs/blob/master/src/aws-s3/orb.yml#L58

Yet, it's spelt `--dry-run` in the official aws docs:

https://docs.aws.amazon.com/cli/latest/userguide/cli-usage-help.html

I'm confused which is correct 🤔

[2019-12-12 06:48] lokst commented on #272
Thanks for reporting this! I believe this is a typo that needs to be fixed in the orb's example, and it should be `--dry-run`.

[2019-12-21 16:17] glebsts opened #274 "feature req: s3 orb override endpoint?"
### Orb version
circleci/aws-s3@1.0.12

### What happened
some services offer fully s3-compatible storage (i.e. [digitalocean's spaces](https://www.digitalocean.com/docs/spaces/))
They use regular aws access key id / access key parameters, also you can use aws_region var, so it would be natural to use aws-s3 orb. But problem is that orb does not support AWS_ENDPOINT override, so command
`aws s3 cp

[2019-12-21 19:26] glebsts commented on #274
My bad, found `arguments` endpoint which allows to pass `--endpoint-url` to s3 client. So could be added for better aligning with s3 client params, but aboslutely not mandatory :)
`arguments: '--endpoint-url https://space-region.digitaloceanspaces.com'`

[2019-12-21 19:26] #274 closed

[2019-12-30 10:53] kml opened #277 "Broken aws-code-deploy@0.0.11 (Succeeded deploy fails)"
### Orb version

aws-code-deploy@0.0.11

### What happened

Logs:
[code]

### Expected behavior

Success

https://docs.aws.amazon.com/codedeploy/latest/APIReference/API_DeploymentOverview.html
"Succeeded" status it treated as failure
Relates to https://github.com/CircleCI-Public/circleci-orbs/pull/273

[2019-12-30 10:54] kml commented on #277
@felicianotech

[2019-12-30 22:03] iynere commented on #277
@kml thank you! sounds like this results from [this pr](https://github.com/CircleCI-Public/circleci-orbs/pull/236)

@kobim am I misunderstanding something here? "Succeeded" certainly sounds like it should also count as a success

[2020-01-02 21:16] kobim commented on #277
@iynere sounds correct.
[seems like](https://docs.aws.amazon.com/codedeploy/latest/APIReference/API_DeploymentInfo.html#CodeDeploy-Type-DeploymentInfo-status) `Ready` is valid only in blue/green deployments (and we can assume this is successful and no need to further wait on the deployment), and `Succeeded` will always be the final and successful status.

[2020-01-10 19:31] shawnjohnson commented on #194
Is this something that should still be done? It seems like a good idea, but I don't know if the [PR](https://github.com/CircleCI-Public/aws-code-deploy-orb/pull/1) is out of date now?

[2020-01-10 19:53] shawnjohnson commented on #277
@iynere  - It looks like this issue can be closed now that #278 is merged?  I was able to try it out with the new version 0.0.12 and it worked successfully with a `CodeDeployDefault.OneAtATime` type deployment.

CircleCI output:
[code]

[2020-01-10 20:13] iynere commented on #277
fantastic, thank you!

[2020-01-10 20:13] #277 closed

[2020-01-24 04:08] lokst commented on #167
Closing this issue as it looks like it should be fixed in `circleci/aws-code-deploy@0.0.12`, but feel free to reopen it if not.

[2020-01-24 04:08] #167 closed

[2020-01-30 16:56] eddiewebb commented on #182
Is a parameter in new orb - https://github.com/CircleCI-Public/aws-cli-orb/blob/master/src/%40orb.yml#L18

[2020-01-30 16:56] #182 closed

[2020-01-30 17:02] KyleTryon commented on #272
Hello,

We have completed our transition of moving each orb within this Mono repository into a separate repository. 🎉

We have addressed this issue here: https://github.com/CircleCI-Public/aws-s3-orb/pull/2

[2020-01-30 17:02] #272 closed

[2020-01-30 17:10] KyleTryon commented on #196
Hello,

We have completed our transition of moving each orb within this Mono repository into a separate repository. 🎉

We have addressed this issue here during the transition: https://github.com/CircleCI-Public/aws-code-deploy-orb

Thank you!

[2020-01-30 17:10] #196 closed

[2020-01-30 17:11] KyleTryon commented on #193
Rollbar has been partnered and owns their orb: https://circleci.com/orbs/registry/orb/rollbar/deploy

[2020-01-30 17:11] #193 closed

[2020-01-30 17:12] KyleTryon commented on #189
Thank you everyone who participated. The gradle orb can be found here now: https://github.com/CircleCI-Public/gradle-orb

[2020-01-30 17:12] #189 closed

[2020-01-30 17:13] KyleTryon commented on #188
CodeCov has been partnered and now owns their orb: https://circleci.com/orbs/registry/orb/codecov/codecov

[2020-01-30 17:13] #188 closed

[2020-01-30 17:14] KyleTryon commented on #190
Thank you everyone who participated! The Heroku orb can now be found here: https://github.com/CircleCI-Public/heroku-orb

[2020-01-30 17:14] #190 closed

[2020-01-30 17:16] KyleTryon commented on #194
Hello,

We have completed our transition of moving each orb within this Mono repository into a separate repository. 🎉

We have addressed this issue here: https://github.com/CircleCI-Public/aws-code-deploy-orb

Thank you to everyone who has participated

[2020-01-30 17:16] #194 closed

[2020-01-30 17:17] KyleTryon commented on #198
Codecov became a partner! All codecov elements can now be found here: https://circleci.com/orbs/registry/orb/codecov/codecov

[2020-01-30 17:17] #198 closed

[2020-01-30 17:17] KyleTryon commented on #99
The new OSK resolves this issue. All orbs have been relocated to new repos using the OSK https://github.com/CircleCI-Public/orb-starter-kit

[2020-01-30 17:17] #99 closed

[2020-01-30 19:29] KyleTryon commented on #81
Recreating here: https://github.com/CircleCI-Public/heroku-orb

[2020-01-30 19:29] #81 closed

[2020-01-30 19:38] KyleTryon commented on #81
https://github.com/CircleCI-Public/heroku-orb/issues/2

[2020-01-30 19:38] #88 closed

[2020-01-30 19:40] KyleTryon commented on #69
Hello,

We have completed our transition of moving each orb within this Mono repository into a separate repository. 🎉

This issue has been resolved by our OSK https://github.com/CircleCI-Public/orb-starter-kit

[2020-01-30 19:40] #69 closed

[2020-01-30 19:40] #68 closed

[2020-01-30 19:40] KyleTryon commented on #91
New repos created with https://github.com/CircleCI-Public/orb-starter-kit which includes this.

[2020-01-30 19:40] #91 closed

[2020-01-30 19:44] KyleTryon commented on #75
Closing. This can be tied to git releases if enabled in the OSK. Otherwise, we can investigate a "diff" CLI command.

[2020-01-30 19:44] #75 closed

[2020-01-30 19:46] KyleTryon commented on #51
Private orbs are in the works internally via the product team. Closing this issue as this repo will soon be archived. Each orb now lives in a separate repo. Thank you.

Voting for this feature can be done here:

https://ideas.circleci.com/ideas/CCI-I-704

https://ideas.circleci.com/ideas/CCI-I-606

[2020-01-30 19:46] #51 closed

[2020-01-30 19:47] KyleTryon commented on #65
Issue has been answered. Closing. Thank you.

[2020-01-30 19:47] #65 closed

[2020-01-30 19:47] #94 closed

[2020-01-30 19:50] KyleTryon commented on #115
Hello all,

Closing this old issue as the slack orb can be found here: https://github.com/CircleCI-Public/slack-orb/issues

We will soon be considering large scale changes to the slack orb to increase the amount of customizability and improving the documentation. More to come soon.

[2020-01-30 19:50] #115 closed

[2020-01-30 21:06] KyleTryon commented on #73
Addressed in the new repo. Follow the conversation here: https://github.com/CircleCI-Public/maven-orb/pull/2

[2020-01-30 21:06] #73 closed

[2020-01-31 16:26] KyleTryon commented on #132
Hello,

We have completed our transition of moving each orb within this Mono repository into a separate repository. 🎉

We have addressed this issue here: https://github.com/CircleCI-Public/gradle-orb/pull/2

[2020-01-31 16:26] #132 closed

[2020-01-31 16:28] KyleTryon commented on #84
Closing due to length of inactivity. The Node orb has since been moved to this repository: https://github.com/CircleCI-Public/node-orb

Please forward any issues or PRs to this repo. Thank you

[2020-01-31 16:28] #84 closed

[2020-01-31 19:47] KyleTryon commented on #180
Issue migrated to new Repo: https://github.com/CircleCI-Public/gradle-orb/issues/3

[2020-01-31 19:47] #180 closed

[2020-02-02 02:26] ignaciojcano opened #281 "Heroku Orb environment spin up error"
### Orb version

heroku@1.0.0

### What happened

I kept getting an error when trying to do the deployment During the "Spin up Environment"
[code]

### Expected behavior

Ideally it should spin up the environment, I was able to get past this by manually setting the executor to be:
[code]
instead of
[code]

It seems as if it is wrongly setting the base container to `cimg:base/stable` when it should

[2020-02-02 02:30] ignaciojcano commented on #281
Moved to https://github.com/CircleCI-Public/heroku-orb/issues/3 since it has its own repo now.

[2020-02-02 02:30] #281 closed

[2020-02-04 22:02] mckernanin opened #282 "AWS-S3 orb not working, "aws: command not found""
### Orb version

circleci/aws-s3@1.0.15

### What happened
![Screenshot 2020-02-04 15 00 34](https://user-images.githubusercontent.com/6300047/73791212-1cde0900-475f-11ea-8003-bb6f4a02830d.png)

### Expected behavior

AWS CLI should be setup properly.
Relevant config pieces from config.yml:

[code]

[2020-02-05 03:40] lokst commented on #282
@mckernanin Could you try SSH-ing into a rerun of the job and running `set -x` and then copying and pasting the `aws` command? I suspect that the `AWS_ACCESS_KEY_ID` environment variable may not be set. Also, as we have recently migrated the s3 orb out of this monorepo and into https://github.com/CircleCI-Public/aws-s3-orb/ , we encourage you to file future issues in that repository 🙂

[2020-02-06 14:48] KyleTryon commented on #282
I will be attempting to get this mono-repo closed this week to avoid confusion. The PR for the update to make this clear can be found here: https://github.com/CircleCI-Public/circleci-orbs/pull/280

[2020-02-06 16:13] KyleTryon commented on #185
Hello,
Thank you for your contribution! As we are migrating this mono repository into separate repos we can cloned this issue/PR to the new repo location here: https://github.com/CircleCI-Public/aws-code-deploy-orb/pull/2

Thank you.

[2020-02-06 16:13] #185 closed

[2020-02-11 07:42] mckernanin commented on #282
moving the issue to the new repo

[2020-02-11 07:42] #282 closed